{% extends "layout.html" %}


{% block mainContent %}
  <div>
    {% include "fragments/events-list.html" %}
  </div>
  <div>
    <a href="/events/new"><input type="button" value="Create a new event"></a>
  </div>
 <style>
    body {
      background: url("https://s11.postimg.org/6nry9tm0z/drinking_games_2.jpg");
      background-size: cover;
      background-position: center;
    }
     input[type=button] {
     display: inline-block;
     background-color: Orange;
     border-radius: 5px;
     border: none;
     color: White;
     padding: 5px 15px;
     font-size: 15px;
     text-decoration: none;
     text-align: center;
     font-weight: bold;
     margin: 4px 2px;
     cursor: pointer;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
     input[type=button]:hover {
       background-color: OldLace;
       color: orange;
     }
  </style>
{% endblock %}


